<div class="container">
    <div class="column">
      <div class="headerPreparo">Preparo</div>
      <!-- Pedidos em preparo -->
      <div class="pedido">Pedido #52</div>
      <div class="pedido">Pedido #56</div>
      <!-- Adicionar mais pedidos aqui -->
    </div>
  
    <div class="column">
      <div class="headerPronto">Pronto</div>
      <!-- Pedidos prontos -->
      <div class="pedido">Pedido #50</div>
      <div class="pedido">Pedido #58</div>
      <!-- Adicionar mais pedidos aqui -->
    </div>
  </div>