body {
    font-family: 'Arial', sans-serif;
  }
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .column {
    width: 45%;
  }
  .pedido {
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: center;
  }

  .headerPreparo{
    background-color: #af4f4c;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .headerPronto {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
  }