.backgroundCarousel{
    background: linear-gradient(180deg, rgba(180,176,159,1) 0%, rgba(212,205,195,1) 100%);
}
.cards-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

}

.card-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper {
    flex: 0 1 23%;
    margin: 10px;
}

@media screen and (max-width: 960px) {
    .cards-container {
        justify-content: center; 
    }

    .card-wrapper {
        flex-basis: 46%;
        margin: 5px; 
    }
}
