.promo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    display: none;
    /* position: relative; */
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.carousel-item.active {
    display: block;
}


/* .carousel-inner > .carousel-item > img {
    width: 100%;
    height: auto;
    transition: transform 0.6s ease; 
}

.carousel-inner {
    overflow: hidden; 
} */
