<div class="cart-container">
    <div class="cart-header">
      <h2>Seu Carrinho</h2>
      <span>Total: R$XX.XX</span>
    </div>
  
    <!-- Item no Carrinho -->
    <div class="cart-item">
      <div class="item-details">
        <h4>Nome do Produto</h4>
        <div>
          <button>-</button>
          <span> 1 </span>
          <button>+</button>
        </div>
      </div>
      <div class="item-price">R$XX.XX</div>
      <div class="remove-item">Remover</div>
    </div>
    <!-- Repetir para cada item no carrinho -->
  
    <div class="total">
      <button class="checkout-btn">Finalizar Compra</button>
    </div>
  </div>
  